LUALATEX

info/meta.yaml, titleLualatex: me

# List of Publications
%## Publications In-Press
%info/pubs.bib, articleTex: inpress

## Publications Under Review
info/pubs.bib, miscPubTex: submitted

## Peer-Reviewed Journal Articles
info/pubs.bib, articleTex: article

## Peer-Reviewed Conference and Workshop Papers
info/pubs.bib, proceedingsTex: inproceedings

## Technical Reports and Dissertations
info/pubs.bib, techreportTex: techreport, thesis
