LUALATEX

info/meta.yaml, titleLualatex: me

# References
## Primary references
info/meta.yaml, peopleTex: advisor, reference1, reference2

## Additional references
info/meta.yaml, peopleTex: reference3, reference4

